.git
.github
.idea
.vscode

node_modules
dist
coverage
.cache

deploy
docs
test
*.test.ts
vitest.config.ts

.env
.env.*
!.env.example
*.sqlite
*.sqlite3
*.sqlite-shm
*.sqlite-wal
*.db
*.mp4

npm-debug.log*
*.log
.DS_Store
