[Unit]
Description=Check Chicago Buoys health hourly

[Timer]
OnCalendar=*-*-* *:47:00 UTC
Persistent=true
RandomizedDelaySec=90s
AccuracySec=30s
Unit=chicago-buoys-health.service

[Install]
WantedBy=timers.target
